<!DOCTYPE html>
<html>
    <head>
        <title>My Plants</title>
        <link href="css/styles.css" rel="stylesheet" type="text/css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <h5>Hello, <%=name %></h5>
        <h1>My Plants</h1>
        <div id="data" style="text-align: left"></div>
        <script src="js/main.js"></script>
    </body>
</html>