<%- include('partials/header.ejs') %>  

<section id="login"><!--form-->
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
          
        <% if (typeof error !== "undefined" && error) { %>
        <div class="alert alert-primary fade show" role="alert">
          <strong>Holy guacamole! </strong> <%= error %> 
        </div>
        <% } %>

        <div class="login-form"><!--login form-->
          <h2> Sign In </h2>
          <form action="/signIn" method="post">
            <input id="login" name="login" class="form-control" placeholder="login">
            <input id="password" name="password" type="password" class="form-control" placeholder="******">
            <button type="submit" class="btn btn-primary">Sign In</button>
          </form>
        </div><!--/login form-->
      </div>
    </div>
  </div>
</section><!--/form-->

<%- include('partials/footer.ejs') %>  